.grid-container {
  display: grid;
  grid-template-columns: repeat(8, auto);
  width: 103px;
  height: 103px;
}
.grid-item {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 50px;
  width: 100px;
  text-align: center;
}